# For more info see here: https://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.py]
indent_style = space
indent_size = 4

[*.{c,cpp,h,hpp,cc}]
indent_style = space
indent_size = 2

[*.{v,sv,vh}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
